extends layout

block navbar
  include navbar

block content
  table.table.table-hover
    thead
      tr
        th.col-xs-3 title
        th.col-xs-3 detail link
        th.col-xs-2 due date
        th.col-xs-2 last change
        th.col-xs-1 
        th.col-xs-1 
        th.col-xs-1
    tbody
      each item in items
        tr(itemId= item._id)
          td= item.title
          td
            a(href= item.detailLink)!= item.detailLink
          td= item.dueDate
          td= item.lastChange
          td
          td
          td(status= item.statusCode)
