ul.nav.nav-tabs
  li: a#home(href="#", dest="/") Home
  li: a#itemlist(href="#", dest="/r/allWorkItems") All Work items
  li: a#newitem(href="/workitem/new") New Work item
  li: a#restapilist(href="/s/allRestfulApi") Completed Restful API
