ul.nav.nav-tabs
  li: a#home(href="/") Home
  li: a#itemlist(href="/workitem/list/y") All Work items
  li: a#itemlist(href="/workitem/list/n") Completed Work items
  li: a#newitem(href="/workitem/new") New Work item
  li.dropdown
    a.dropdown-toggle(data-toggle="dropdown", href="#") Functions
      span.caret
    ul.dropdown-menu
      li: a#restapilist(href="/f/allRestfulApi") Completed Restful API
      li: a#restapilist(href="/f/sendmail") Send Email
